---
kind: Deployment
apiVersion: apps/v1
metadata:
    name: "{{ .Values.DEPLOYMENT_RESOURCE_NAME }}"
    labels:
        name: "{{ .Values.DEPLOYMENT_RESOURCE_NAME }}"
        app.kubernetes.io/instance: '{{ cat .Values.SERVICE "-" .Values.NAMESPACE | nospace | trunc 63 }}'
        app.kubernetes.io/part-of: 'mesh-test-app'
spec:
    selector:
        matchLabels:
            name: "{{ .Values.DEPLOYMENT_RESOURCE_NAME }}"
    replicas: {{ .Values.REPLICAS }}
    revisionHistoryLimit: {{ .Values.RC_REVISIONS }}
    strategy:
        type: RollingUpdate
        rollingUpdate:
            maxUnavailable: 25%
            maxSurge: 25%
    template:
        metadata:
            labels:
                name: "{{ .Values.DEPLOYMENT_RESOURCE_NAME }}"
                app.kubernetes.io/instance: '{{ cat .Values.SERVICE "-" .Values.NAMESPACE | nospace | trunc 63 }}'
                app.kubernetes.io/part-of: 'mesh-test-app'
        spec:
            containers:
                - name: "{{ .Values.SERVICE }}"
                  image: "{{ .Values.IMAGE_REPOSITORY}}:{{ .Values.TAG }}"
                  ports:
                      - name: web
                        containerPort: 8080
                        protocol: TCP
                      - name: web2
                        containerPort: 1234
                        protocol: TCP
                  env:
                      - name: CLOUD_NAMESPACE
                        valueFrom:
                            fieldRef:
                                fieldPath: metadata.namespace
                      - name: NAMESPACE
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.namespace
                      - name: MICROSERVICE_NAMESPACE
                        valueFrom:
                          fieldRef:
                            fieldPath: metadata.namespace
                      - name: MICROSERVICE_NAME
                        value: "{{ .Values.SERVICE }}"
                      - name: CLOUD_SERVICE_NAME
                        value: "{{ .Values.DEPLOYMENT_RESOURCE_NAME }}"
                      - name: MICROSERVICE_URL
                        value: "http://{{ .Values.DEPLOYMENT_RESOURCE_NAME }}:8080"
                      - name: DEPLOYMENT_VERSION
                        value: "{{ .Values.DEPLOYMENT_VERSION }}"
                  resources:
                      requests:
                          cpu: "{{ .Values.CPU_REQUEST }}"
                          memory: "{{ .Values.MEMORY_REQUEST }}"
                      limits:
                          cpu: "{{ .Values.CPU_LIMIT }}"
                          memory: "{{ .Values.MEMORY_LIMIT }}"
            affinity:
                podAntiAffinity:
                    preferredDuringSchedulingIgnoredDuringExecution:
                        - weight: 100
                          podAffinityTerm:
                              labelSelector:
                                  matchExpressions:
                                      - key: name
                                        operator: In
                                        values:
                                            - "{{ .Values.DEPLOYMENT_RESOURCE_NAME }}"
                              topologyKey: kubernetes.io/hostname