---
apiVersion: core.qubership.org/v1
kind: Mesh
subKind: RouteConfiguration
metadata:
  name: mesh-test-app-gateway-go-routes
  labels:
    deployer.cleanup/allow: "true"
    app.kubernetes.io/instance: "{{ .Values.SERVICE }}"
    app.kubernetes.io/managed-by: core-operator
spec:
  gateways: [ "mesh-test-app-gateway" ]
  listenerPort: 8080
  tlsSupported: false
  virtualServices:
    - name: "{{ .Values.SERVICE }}"
      hosts: ["{{ .Values.SERVICE }}"]
      routeConfiguration:
        version: "{{ .Values.DEPLOYMENT_VERSION }}"
        routes:
          - destination:
              cluster: "{{ .Values.SERVICE }}"
              endpoint: http://{{ .Values.DEPLOYMENT_RESOURCE_NAME }}:8080
              tlsEndpoint: https://{{ .Values.DEPLOYMENT_RESOURCE_NAME }}:8443
            rules:
              - match:
                  prefix: /api/v1/mesh-test-service-go
                allowed: true
                prefixRewrite: /api/v1
---
apiVersion: core.qubership.org/v1
kind: Mesh
subKind: RouteConfiguration
metadata:
  name: test-ingress-gateway-go-routes
  labels:
    deployer.cleanup/allow: "true"
    app.kubernetes.io/instance: "{{ .Values.SERVICE }}"
    app.kubernetes.io/managed-by: core-operator
spec:
  gateways: [ "test-ingress-gateway" ]
  virtualServices:
    - name: test-ingress-gw
      removeHeaders: ["Origin"]
      routeConfiguration:
        routes:
          - destination:
              cluster: "public-gateway-service"
              endpoint: http://public-gateway-service:8080
            rules:
              - match:
                  prefix: /api/v1/mesh-test-service-go
                allowed: true
                prefixRewrite: /api/v1
---
apiVersion: core.qubership.org/v1
kind: Mesh
subKind: RouteConfiguration
metadata:
  name: test-ingress-gateway-2-go-routes
  labels:
    deployer.cleanup/allow: "true"
    app.kubernetes.io/instance: "{{ .Values.SERVICE }}"
    app.kubernetes.io/managed-by: core-operator
spec:
  gateways: [ "test-ingress-gateway-2" ]
  virtualServices:
    - name: test-ingress-gw2
      removeHeaders: ["Origin"]
      routeConfiguration:
        routes:
          - destination:
              cluster: "public-gateway-service"
              endpoint: http://public-gateway-service:8080
            rules:
              - match:
                  prefix: /api/v1/mesh-test-service-go
                allowed: true
                prefixRewrite: /api/v1
---
apiVersion: core.qubership.org/v1
kind: Mesh
subKind: RouteConfiguration
metadata:
  name: mesh-test-app-gateway-go-routes-1234
  labels:
    deployer.cleanup/allow: "true"
    app.kubernetes.io/instance: "{{ .Values.SERVICE }}"
    app.kubernetes.io/managed-by: core-operator
spec:
  gateways: [ "mesh-test-app-gateway" ]
  listenerPort: 1234
  tlsSupported: false
  virtualServices:
    - name: "{{ .Values.SERVICE }}"
      hosts: ["{{ .Values.SERVICE }}"]
      routeConfiguration:
        version: "{{ .Values.DEPLOYMENT_VERSION }}"
        routes:
          - destination:
              cluster: "{{ .Values.SERVICE }}"
              endpoint: http://{{ .Values.DEPLOYMENT_RESOURCE_NAME }}:1234
              tlsEndpoint: https://{{ .Values.DEPLOYMENT_RESOURCE_NAME }}:1234
            rules:
              - match:
                  prefix: /api/v1/mesh-test-service-go/1234
                allowed: true
                prefixRewrite: /api/v1/1234
