name: Run integration tests

on:
  push: #TODO for test purpose. change to main only
  pull_request:
    branches: [ main ]

jobs:
  integration-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Kind
        uses: helm/kind-action@v1.12.0
        with:
          cluster_name: kind

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4

      - name: Run integration tests
        run: |
          curl -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://maven.pkg.github.com/netcracker/cloud-core/com/netcracker/cloud/junit/cloudcore/cloud-core-extension/8.0.0/cloud-core-extension-8.0.0.pom
          curl -H "Authorization: token ${{ secrets.GH_ACCESS_TOKEN }}" https://maven.pkg.github.com/netcracker/cloud-core/com/netcracker/cloud/junit/cloudcore/cloud-core-extension/8.0.0/cloud-core-extension-8.0.0.pom