name: Run integration tests

on:
  push: #TODO for test purpose. change to main only
  pull_request:
    branches: [ main ]

permissions:
  packages: read

jobs:
  integration-tests:
    permissions:
      packages: read
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Kind
        uses: helm/kind-action@v1.12.0
        with:
          cluster_name: kind

      - name: Set up kubectl
        uses: azure/setup-kubectl@v4

      - name: Run integration tests
        run: |
          ./mesh-test-install/run-integration-tests.sh kind-kind core kind-control-plane:172.18.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
